/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 
/ 32 / 48 / 64 / 80 / 96 
/ 128 / 144 / 160

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 
/ 30 / 36 / 44 / 52 / 62 / 74 / 86 
/ 98 / 112 / 128 / 144 / 160
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f3f5;
}